/*  your css code here. If applicable */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #333;
  font-family: sans-serif;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  flex: 0.5;
  margin: 10px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: flex 0.5s ease-in;
}

.panel .img-text {
  color: white;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.panel.active {
  flex: 5;
}

.panel.active .img-text {
  opacity: 1;
}

